[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
bs4 = "*"
dagster-webserver = "*"
pandas = "*"
openpyxl = "*"
xlrd = "*"
us = "*"
boto3 = "*"
dagster-aws = "*"

[dev-packages]

[requires]
python_version = "3.12"
